<h1>Listing licenses</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @licenses.each do |license| %>
  <tr>
    <td><%= license.abbreviation %></td>
    <td><%= license.name %></td>
    <td><%= license.description %></td>
    <td><%= link_to 'Show', license %></td>
    <td><%= link_to 'Edit', edit_license_path(license) %></td>
    <td><%= link_to 'Destroy', license, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New License', new_license_path %>
