<p id="notice"><%= notice %></p>

<p>
  <b>Abreviation:</b>
  <%= @license.abbreviation %>
</p>

<p>
  <b>Name:</b>
  <%= @license.name %>
</p>

<p>
  <b>Description:</b>
  <%= @license.description %>
</p>


<%= link_to 'Edit', edit_license_path(@license) %> |
<%= link_to 'Back', licenses_path %>
