<h1>Listing unitweights</h1>

<table>
  <tr>
    <th>Sort</th>
    <th>Abbreviation</th>
    <th>Factor</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unitweights.each do |unitweight| %>
  <tr>
    <td><%= unitweight.sort %></td>
    <td><%= unitweight.abbreviation %></td>
    <td><%= unitweight.factor %></td>
    <td><%= unitweight.description %></td>
    <td><%= link_to 'Show', unitweight %></td>
    <td><%= link_to 'Edit', edit_unitweight_path(unitweight) %></td>
    <td><%= link_to 'Destroy', unitweight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unitweight', new_unitweight_path %>
