<p id="notice"><%= notice %></p>

<p>
  <b>Sort:</b>
  <%= @unitweight.sort %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @unitweight.abbreviation %>
</p>

<p>
  <b>Factor:</b>
  <%= @unitweight.factor %>
</p>

<p>
  <b>Description:</b>
  <%= @unitweight.description %>
</p>


<%= link_to 'Edit', edit_unitweight_path(@unitweight) %> |
<%= link_to 'Back', unitweights_path %>
