<h1>Listing months</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Abbreviation</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @months.each do |month| %>
  <tr>
    <td><%= month.number %></td>
    <td><%= month.abbreviation %></td>
    <td><%= month.name %></td>
    <td><%= link_to 'Show', month %></td>
    <td><%= link_to 'Edit', edit_month_path(month) %></td>
    <td><%= link_to 'Destroy', month, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Month', new_month_path %>
