<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @month.number %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @month.abbreviation %>
</p>

<p>
  <b>Name:</b>
  <%= @month.name %>
</p>


<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
