<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :account_id %>
    <%#= f.input :user_ref %>
    <%#= f.association :store , :include_blank => false, :disabled => true, :label_method => lambda { |store| "#{store.license} | #{store.name}" }, :label =>t('authorize.store')%>
    <%= f.input :au_spot, :label =>t('quote.gold_quote')%>
    <%= f.input :au_payout,:label =>t('quote.gold_payout') %>
    <%= f.input :ag_spot, :label =>t('quote.silver_quote') %>
    <%= f.input :ag_payout,:label =>t('quote.silver_payout') %>
    <%= f.input :pt_spot, :label =>t('quote.platinum_quote') %>
    <%= f.input :pt_payout, :label =>t('quote.platinum_payout') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
