<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Account</th>
    <th>User Ref</th>
    <th>Date time</th>
    <th>Au spot</th>
    <th>Au payout</th>
    <th>Ag spot</th>
    <th>Ag payout</th>
    <th>Pt spot</th>
    <th>Pt payout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.account_name %></td>
    <td><%= quote.user_ref %></td>
    <td><%= quote.au_spot %></td>
    <td><%= quote.au_payout %></td>
    <td><%= quote.ag_spot %></td>
    <td><%= quote.ag_payout %></td>
    <td><%= quote.pt_spot %></td>
    <td><%= quote.pt_payout %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
