<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @quote.account_name %>
</p>

<p>
  <b>User:</b>
  <%= @quote.user_ref %>
</p>

<p>
  <b>Date time:</b>
  <%= @quote.created_at %>
</p>

<p>
  <b>Au spot:</b>
  <%= @quote.au_spot %>
</p>

<p>
  <b>Au payout:</b>
  <%= @quote.au_payout %>
</p>

<p>
  <b>Ag spot:</b>
  <%= @quote.ag_spot %>
</p>

<p>
  <b>Ag payout:</b>
  <%= @quote.ag_payout %>
</p>

<p>
  <b>Pt spot:</b>
  <%= @quote.pt_spot %>
</p>

<p>
  <b>Pt payout:</b>
  <%= @quote.pt_payout %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
