<h1>Listing ratingsystems</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ratingsystems.each do |ratingsystem| %>
  <tr>
    <td><%= ratingsystem.abbreviation %></td>
    <td><%= ratingsystem.description %></td>
    <td><%= link_to 'Show', ratingsystem %></td>
    <td><%= link_to 'Edit', edit_ratingsystem_path(ratingsystem) %></td>
    <td><%= link_to 'Destroy', ratingsystem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ratingsystem', new_ratingsystem_path %>
