<p id="notice"><%= notice %></p>

<p>
  <b>Abbreviation:</b>
  <%= @ratingsystem.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @ratingsystem.description %>
</p>


<%= link_to 'Edit', edit_ratingsystem_path(@ratingsystem) %> |
<%= link_to 'Back', ratingsystems_path %>
