<%= simple_form_for(@stoneclarity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :language_id %>
    <%= f.input :method %>
    <%= f.input :sort %>
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
