<h1>Listing stoneclarities</h1>

<table>
  <tr>
    <th>Language</th>
    <th>Method</th>
    <th>Sort</th>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stoneclarities.each do |stoneclarity| %>
  <tr>
    <td><%= stoneclarity.language_id %></td>
    <td><%= stoneclarity.method %></td>
    <td><%= stoneclarity.sort %></td>
    <td><%= stoneclarity.name %></td>
    <td><%= stoneclarity.abbreviation %></td>
    <td><%= stoneclarity.description %></td>
    <td><%= link_to 'Show', stoneclarity %></td>
    <td><%= link_to 'Edit', edit_stoneclarity_path(stoneclarity) %></td>
    <td><%= link_to 'Destroy', stoneclarity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stoneclarity', new_stoneclarity_path %>
