<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @stoneclarity.language_id %>
</p>

<p>
  <b>Method:</b>
  <%= @stoneclarity.method %>
</p>

<p>
  <b>Sort:</b>
  <%= @stoneclarity.sort %>
</p>

<p>
  <b>Name:</b>
  <%= @stoneclarity.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @stoneclarity.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @stoneclarity.description %>
</p>


<%= link_to 'Edit', edit_stoneclarity_path(@stoneclarity) %> |
<%= link_to 'Back', stoneclarities_path %>
