<h1>Listing paymethods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Use</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @paymethods.each do |paymethod| %>
  <tr>
    <td><%= paymethod.name %></td>
    <td><%= paymethod.use %></td>
    <td><%= link_to 'Show', paymethod %></td>
    <td><%= link_to 'Edit', edit_paymethod_path(paymethod) %></td>
    <td><%= link_to 'Destroy', paymethod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Paymethod', new_paymethod_path %>
