<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @paymethod.name %>
</p>

<p>
  <b>Use:</b>
  <%= @paymethod.use %>
</p>


<%= link_to 'Edit', edit_paymethod_path(@paymethod) %> |
<%= link_to 'Back', paymethods_path %>
