<%= simple_form_for [@commentable, @comment] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :sticky %>
    <%#= f.input :commentable_id %>
    <%#= f.input :commentable_type %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<% end %>
