<h1>Listing comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Sticky</th>
    <th>Commentable</th>
    <th>Commentable type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content %></td>
    <td><%= comment.sticky %></td>
    <td><%= comment.commentable_id %></td>
    <td><%= comment.commentable_type %></td>
    <td><%= @commentable.inspect %></td>
    <td><%#= link_to 'Edit', [:edit, @commentable, :comment] %></td>
    <td><%#= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Comment', new_polymorphic_path() %>
