<p id="notice"><%= notice %></p>

<%= @commentable.inspect %>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Sticky:</b>
  <%= @comment.sticky %>
</p>

<p>
  <b>Commentable:</b>
  <%= @comment.commentable_id %>
</p>

<p>
  <b>Commentable type:</b>
  <%= @comment.commentable_type %>
</p>

<%#= link_to 'Edit', [:edit, @comment, :comment] %>

<%= link_to 'Edit', edit_store_comment_path(@comment) %> |
<%#= link_to 'Back', comments_path %>
