<%= simple_form_for(@seller) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :state, label: 'Issuing State', include_blank: false, label_method: lambda { |state| "#{state.abbreviation} | #{state.name}" } %>
    <%= f.association :license, label: 'Type', include_blank: false, label_method: lambda { |license| "#{license.abbreviation} | #{license.description}" }  %>
    <%= f.input :number %>
    <%= f.association :month, include_blank: true, label_method: 'listbox_options' %>
    <%= f.input :day, collection: 1..31 %>
    <%= f.input :year, collection: 1900..2020 %>
    <%= f.input :name_last %>
    <%= f.input :name_first %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.association :astate, include_blank: false, label_method: lambda { |state| "#{state.abbreviation} | #{state.name}" }%>
    <%= f.input :zip %>
    <%= f.input :height_feet, collection: 4..7 %>
    <%= f.input :height_inches, collection: 0..11 %>
    <%= f.association :gender, include_blank: true, label_method: lambda { |gender| "#{gender.abbreviation} | #{gender.description}" } %>
    <%= f.association :eyecolor, include_blank: true, label_method: lambda { |eyecolor| "#{eyecolor.abbreviation} | #{eyecolor.description}" }  %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
