<h1>Listing sellers</h1>

<table>
  <tr>
    <th>State</th>
    <th>License</th>
    <th>Number</th>
    <th>Dob month</th>
    <th>Dob day</th>
    <th>Dob year</th>
    <th>Name last</th>
    <th>Name first</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>Astate</th>
    <th>Zip</th>
    <th>Height feet</th>
    <th>Height inches</th>
    <th>Gender</th>
    <th>Eyes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sellers.each do |seller| %>
  <tr>
    <td><%= seller.state_id %></td>
    <td><%= seller.license_id %></td>
    <td><%= seller.number %></td>
    <td><%= seller.month.name %></td>
    <td><%= seller.day %></td>
    <td><%= seller.year %></td>
    <td><%= seller.name_last %></td>
    <td><%= seller.name_first %></td>
    <td><%= seller.address_1 %></td>
    <td><%= seller.address_2 %></td>
    <td><%= seller.city %></td>
    <td><%= seller.astate_id %></td>
    <td><%= seller.zip %></td>
    <td><%= seller.height_feet %></td>
    <td><%= seller.height_inches %></td>
    <td><%= seller.gender_id %></td>
    <td><%= seller.eyecolor_id %></td>
    <td><%= link_to 'Show', seller %></td>
    <td><%= link_to 'Edit', edit_seller_path(seller) %></td>
    <td><%= link_to 'Destroy', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seller', new_seller_path %>
