<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @seller.state.name %>
</p>

<p>
  <b>License:</b>
  <%= @seller.license.description %>
</p>

<p>
  <b>Number:</b>
  <%= @seller.number %>
</p>

<div class='well'>
<p>
  <b>Dob month:</b>
  <%= @seller.month.name %>
</p>

<p>
  <b>Dob day:</b>
  <%= @seller.day %>
</p>

<p>
  <b>Dob year:</b>
  <%= @seller.year %>
</p>
</div>
<p>
  <b>Name last:</b>
  <%= @seller.name_last %>
</p>

<p>
  <b>Name first:</b>
  <%= @seller.name_first %>
</p>

<p>
  <b>Address 1:</b>
  <%= @seller.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @seller.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @seller.city %>
</p>

<p>
  <b>State:</b>
  <%= @seller.astate.name %>
</p>

<p>
  <b>Zip:</b>
  <%= @seller.zip %>
</p>

<p>
  <b>Height feet:</b>
  <%= @seller.height_feet %>
</p>

<p>
  <b>Height inches:</b>
  <%= @seller.height_inches %>
</p>

<p>
  <b>Gender:</b>
  <%= @seller.gender.description %>
</p>

<p>
  <b>Eyes:</b>
  <%= @seller.eyecolor.description %>
</p>

<p>
  <b>Email:</b>
  <%= @seller.email %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
