<legend>Listing stonetypes</legend>

<table class='table'>
  <tr>
    <th>Language</th>
    <th>Sort</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stonetypes.each do |stonetype| %>
  <tr>
    <td><%= stonetype.language_id %></td>
    <td><%= stonetype.sort %></td>
    <td><%= stonetype.name %></td>
    <td><%= stonetype.description %></td>
    <td><%= link_to 'Show', stonetype %></td>
    <td><%= link_to 'Edit', edit_stonetype_path(stonetype) %></td>
    <td><%= link_to 'Destroy', stonetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stonetype', new_stonetype_path %>
