<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @stonetype.language_id %>
</p>

<p>
  <b>Sort:</b>
  <%= @stonetype.sort %>
</p>

<p>
  <b>Name:</b>
  <%= @stonetype.name %>
</p>

<p>
  <b>Description:</b>
  <%= @stonetype.description %>
</p>


<%= link_to 'Edit', edit_stonetype_path(@stonetype) %> |
<%= link_to 'Back', stonetypes_path %>
