<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stone.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @stone.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @stone.description %>
</p>

<p>
  <b>Sort:</b>
  <%= @stone.sort %>
</p>


<%= link_to 'Edit', edit_stone_path(@stone) %> |
<%= link_to 'Back', stones_path %>
