<%= simple_form_for([@account,@store]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :license, label: 'License' %>
    <%= f.input :printkey, label: 'Print Key' %>
    <%= f.association :standing, :collection => Standing.where(:model => 'store').order(:sort), :include_blank => false, label: 'Standing' %>
    <%= f.association :location, :include_blank => false, label: 'Location' %>
    <!--# :include_blank => false, :collection => [['Perminate',0],['Temporary',1]]-->
    <%= f.input :name %>
    <%#= f.association :user, :include_blank => false, :label_method => lambda { |user| "#{user.id} | #{user.email}" } %>
    <%= f.input :phone_office %>
    <%= f.input :phone_office_ext %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.association :state, :include_blank => false, :label_method => lambda { |state| "#{state.abbreviation} | #{state.name}" } %>
    <%= f.input :zipcode %>
    <%= f.input :anniversary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
