<h3>Editing store</h3>
<label class = 'control-label'>Account</label>
<div><%= @account.number%> | <%= @account.name %></div>

<%= render 'form' %>

<%= link_to 'Show', account_store_path(@store) %> |
<%= link_to 'Back', account_store_path %>
