
<h3>Listing stores for <%= @account.number %> - <%= @account.name %> - <%= @account.city %></h3>

<table class="table table-striped">
  <tr>
    <th><%= t('stores.name')%></th>
    <th><%= t('stores.license')%></th>
    <th><%= t('stores.address')%></th>
    <th><%= t('stores.phone')%></th>
    <th><%= t('stores.Renewal')%></th>
    <th><%= t('stores.Renewal')%></th>
    <th></th>

  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.license %></td>
    <td><%= store.address %></td>
    <td><%= store.phone_number %></td>
    <td><%#= store.expiration_date %></td>
    <td><%= link_account_store(@account, store) %></td>
  </tr>
<% end %>
</table>

<div><%#= link_index_accounts(key: @account.key) %></div>

