
  <h3>Store details</h3>

  <table class="table table-bordered">
    <tr><td class="caption"><%= t('store.account')%></td><td class="data"><%= @store.account_name %></td></tr>
    <tr><td class="caption"><%= t('store.name')%></td><td class="data"><%= @store.name %></td></tr>
    <tr><td class="caption"><%= t('store.standing')%></td><td class="data"><%= @store.standing_name %></td></tr>
    <tr><td class="caption"><%= t('store.license')%></td><td class="data"><%= @store.license %></td></tr>
    <tr><td class="caption"><%= t('store.key')%></td><td class="data"><%= @store.key %></td></tr>
    <tr><td class="caption"><%= t('store.location')%></td><td class="data"><%= @store.location_name %></td></tr>
    <tr><td class="caption"><%= t('store.phone_number')%></td><td class="data"><%= @store.phone_number %></td></tr>
    <tr><td class="caption"><%= t('store.address')%></td><td class="data"><%= @store.address %></td></tr>
    <tr><td class="caption"><%= t('store.anniversary')%></td><td class="data"><%= @store.anniversary %></td></tr>
    <tr><td class="caption"><%= t('store.expiration_date')%></td><td class="data"><%#= @store.expiration_date %></td></tr>
  </table>



<%= link_edit_account_store(@account, @store) %> |
  <%#= @account.inspect %>
      <%#= link_account_stores(@account, @account.key) %>