<h1>Administration#index</h1>

<div>
  <% if (current_user.has_any_role? :manager, :support) %>
    <h3>Manage Accounts</h3>
      <%= link_to 'Accounts', accounts_path() %>
  <% else %>
      <h3>Manage Users</h3>
      <%= link_to 'Users', account_users_path(current_user.account_slug) %>
  <% end %>
</div>

<div>
  <h3>Order Forms</h3>
</div>

