<h1>Listing productcategories</h1>

<table>
  <tr>
    <th>Sort</th>
    <th>Language</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productcategories.each do |productcategory| %>
  <tr>
    <td><%= productcategory.sort %></td>
    <td><%= productcategory.language.description %></td>
    <td><%= productcategory.name %></td>
    <td><%= productcategory.description %></td>
    <td><%= link_to 'Show', productcategory %></td>
    <td><%= link_to 'Edit', edit_productcategory_path(productcategory) %></td>
    <td><%= link_to 'Destroy', productcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Productcategory', new_productcategory_path %>
