<p id="notice"><%= notice %></p>

<p>
  <b>Sort:</b>
  <%= @productcategory.sort %>
</p>

<p>
  <b>Language:</b>
  <%= @productcategory.language.description %>
</p>

<p>
  <b>Name:</b>
  <%= @productcategory.name %>
</p>

<p>
  <b>Description:</b>
  <%= @productcategory.description %>
</p>


<%= link_to 'Edit', edit_productcategory_path(@productcategory) %> |
<%= link_to 'Back', productcategories_path %>
