<legend>Listing stonesizes</legend>

<table class='table'>
  <tr>
    <th>Language</th>
    <th>Sort</th>
    <th>Abbreviation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stonesizes.each do |stonesize| %>
  <tr>
    <td><%= stonesize.language_id %></td>
    <td><%= stonesize.sort %></td>
    <td><%= stonesize.abbreviation %></td>
    <td><%= stonesize.description %></td>
    <td><%= link_to 'Show', stonesize %></td>
    <td><%= link_to 'Edit', edit_stonesize_path(stonesize) %></td>
    <td><%= link_to 'Destroy', stonesize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stonesize', new_stonesize_path %>
