<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @stonesize.language_id %>
</p>

<p>
  <b>Sort:</b>
  <%= @stonesize.sort %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @stonesize.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @stonesize.description %>
</p>


<%= link_to 'Edit', edit_stonesize_path(@stonesize) %> |
<%= link_to 'Back', stonesizes_path %>
