<div ><div class="modal-header">
    <legend>Item details</legend>

    <!--ng-click="selectedStep(0)"-->
    <ul class="wizard">
        <li class="{{steps[0].editState}}"><a href="#" >
            <span class="badge">{{steps[0].number}}</span>
            {{steps[0].title}}
        </a></li>
        <li class={{steps[1].editState}}><a href="#" >
            <span class="badge">{{steps[1].number}}</span>
            {{steps[1].title}}
        </a></li>
        <li class={{steps[2].editState}}><a href="#" >
            <span class="badge">{{steps[2].number}}</span>
            {{steps[2].title}}
        </a></li>
    </ul>
</div>

    <div class="modal-body">


        <div id="step-0" ng-show=steps[0].showForm>
            <!--<span class="wizard-step-title">Id details</span>-->
            <!-- Start of step 0-->
            <div ng-include=steps[0].template></div>
            <!-- End of step 0 -->

        </div>
        <div id="step-1" ng-show=steps[1].showForm>
            <!--<span class="wizard-step-title">Contact information</span>-->
            <!-- Beginning on Step 1-->
            <div ng-include=steps[1].template></div>
        </div> <!---- End of step-1 -->

        <div id="step-2" ng-show=steps[2].showForm>
            <!--<span class="wizard-step-title">Physical traits</span>-->
            <div ng-include=steps[2].template></div>
        </div>


        <!-- Page navigation -->

        <div class="wizard-navigation">
            <button ng-click="getPriorStep()" class="btn btn-link inactive pull-left" ng-class="{disabled: StepNavigation.priorButtonDisabled}">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Prior
            </button>
            <button  ng-click="getNextStep()" class="btn btn-link inactive pull-right" ng-class="{disabled: StepNavigation.nextButtonDisabled}">
                Next
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>



    </div>


    <div class="modal-footer">

        <button ng-click="save()" class="btn btn-wizard" ng-class="{disabled: StepNavigation.formSaveDisabled}">Save</button>
        <button ng-click="cancel()" class="btn btn-link" ng-class="{disabled: StepNavigation.formCancelDisabled}">Cancel</button>
    </div>
</div>