<div class="modal-header">
    <h4>Current {{metalName}} Quote</h4>
    <!--{{item}}-->
</div>
<div class="modal-body" >

    <div id="AuShow" ng-show="AuShow">
        <div class="row">
            <div class="control-group span1">
                <label class="control-label" for="inputMarketGold">Market</label>
                <div class="controls">
                    <input id="inputMarketGold" class="input-mini" ng-change="changeSpotEntry('Au')" ng-model="auSpotDisplay" formatDollar>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="calc-method-gold" class="span2">
                <div class="control-group">
                    <label class="control-label">Method</label>
                    <div class="controls">
                        <div class="">
                            <!--<select id="calcMethod" class="input-small" ng-model="calcMethod" ng-initial="0" ng-change="setQuoteMethod(currOption)" ng-options="currOption for currOption in ['Auto', 'Manual']"/> </select>-->
                            <select id="calcMethodGold" class="input-small" ng-model="calcMethodAu" ng-initial="" ng-change="setCalcMethod('Au')" ng-options="calcOption.legend for calcOption in calcOptions "/> </select>
                            <!--day.id for day in Days-->
                            <!--<input type="text" class="input-small" id="state-id" name="state-id" placeholder="TX">-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group span1">
                <label class="control-label" for="inputGoldPercentPayout">Percent</label>
                <div class="controls">
                    <input id="inputGoldPercentPayout" class="input-mini" ng-change="changePercentEntry('Au')" ng-model="auPercentDisplay" formatDollar ng-disabled="calcAuPercent">
                </div>
            </div>

            <div class="control-group span1">
                <label class="control-label" for="inputGoldManualPayout">Quote</label>
                <div class="controls">
                    <input id="inputGoldManualPayout" class="input-mini" ng-change="changePayoutEntry('Au')" ng-model="auPayoutDisplay" formatDollar ng-disabled="calcAuManual">
                </div>
            </div>
        </div>

        <div id="au-quote">

        </div>
    </div> <!-- End of Gold  -->

    <!--<div id="Ag">-->
        <!--<div style="text-align:center ">-->
        <!--<img src="http://charts.kitco.com/KitcoCharts/?utm_source=kitco&utm_medium=banner&utm_content=20110407_iCharts_live_gold_ny_chart&utm_campaign=iCharts" BORDER="0" ALT="[Most Recent Quotes from www.kitco.com]">-->
        <!--</div>-->

    <!--</div>-->
    <div id="AgShow" ng-show="AgShow">
        <div class="row">
            <div class="control-group span1">
                <label class="control-label" for="inputMarketSilver">Market</label>
                <div class="controls">
                    <input id="inputMarketSilver" class="input-mini" ng-change="changeSpotEntry('Ag')" ng-model="agSpotDisplay" formatDollar>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="calc-method-silver" class="span2">
                <div class="control-group">
                    <label class="control-label">Method</label>
                    <div class="controls">
                        <div class="">
                            <!--<select id="calcMethod" class="input-small" ng-model="calcMethod" ng-initial="0" ng-change="setQuoteMethod(currOption)" ng-options="currOption for currOption in ['Agto', 'Manual']"/> </select>-->
                            <select id="calcMethodSilver" class="input-small" ng-model="calcMethodAg" ng-initial="" ng-change="setCalcMethod('Ag')" ng-options="calcOption.legend for calcOption in calcOptions "/> </select>
                            <!--day.id for day in Days-->
                            <!--<input type="text" class="input-small" id="state-id" name="state-id" placeholder="TX">-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group span1">
                <label class="control-label" for="inputSilverPercentPayout">Percent</label>
                <div class="controls">
                    <input id="inputSilverPercentPayout" class="input-mini" ng-change="changePercentEntry('Ag')" ng-model="agPercentDisplay" formatDollar ng-disabled="calcAgPercent">
                </div>
            </div>

            <div class="control-group span1">
                <label class="control-label" for="inputSilverManualPayout">Quote</label>
                <div class="controls">
                    <input id="inputSilverManualPayout" class="input-mini" ng-change="changePayoutEntry('Ag')" ng-model="agPayoutDisplay" formatDollar ng-disabled="calcAgManual">
                </div>
            </div>
        </div>

    </div>

    <div id="PtShow" ng-show="PtShow">
        <div class="row">
            <div class="control-group span1">
                <label class="control-label" for="inputMarketPlatinum">Market</label>
                <div class="controls">
                    <input id="inputMarketPlatinum" class="input-mini" ng-change="changeSpotEntry('Pt')" ng-model="ptSpotDisplay" formatDollar>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="calc-method-platinum" class="span2">
                <div class="control-group">
                    <label class="control-label">Method</label>
                    <div class="controls">
                        <div class="">
                            <!--<select id="calcMethod" class="input-small" ng-model="calcMethod" ng-initial="0" ng-change="setQuoteMethod(currOption)" ng-options="currOption for currOption in ['Ptto', 'Manual']"/> </select>-->
                            <select id="calcMethodPlatinum" class="input-small" ng-model="calcMethodPt" ng-initial="calcMethodPt" ng-change="setCalcMethod('Pt')" ng-options="calcOption.legend for calcOption in calcOptions "/> </select>
                            <!--day.id for day in Days-->
                            <!--<input type="text" class="input-small" id="state-id" name="state-id" placeholder="TX">-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group span1">
                <label class="control-label" for="inputPlatinumPercentPayout">Percent</label>
                <div class="controls">
                    <input id="inputPlatinumPercentPayout" class="input-mini" ng-change="changePercentEntry('Pt')" ng-model="ptPercentDisplay" formatDollar ng-disabled="calcPtPercent">
                </div>
            </div>

            <div class="control-group span1">
                <label class="control-label" for="inputPlatinumManualPayout">Quote</label>
                <div class="controls">
                    <input id="inputPlatinumManualPayout" class="input-mini" ng-change="changePayoutEntry('Pt')" ng-model="ptPayoutDisplay" formatDollar ng-disabled="calcPtManual">
                </div>
            </div>
        </div>

    </div>

</div>

<div class="modal-footer">
    <button ng-click="save();" class="btn btn-primary" >Save</button>
    <button ng-click="close();" class="btn" >Cancel</button>
</div>
