<div class="container">
    <div class="well col-sm-6 col-lg-5">
        <div class="row form-title-bottom-border">
            <div class="text-center">
                <h3 class="">State Issued Identification</h3>
                <h5> Browser is {{browser_type}}</h5>
            </div>
        </div>

        <div class="div-spacer"></div>

        <div class="row">

            <!--<div class="col-sm-push-4 col-sm-4 col-lg-push-4 col-lg-4 outline-black-1">-->

            <form name="sellerForm" ng-submit="submitForm(sellerForm.$valid)" novalidate role="form" class="form-horizontal">

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.state.$error.required }">
                    <label class="control-label col-sm-3 col-lg-3" for="state">State</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select required id="state" class="form-control input-sm" ng-model="select.state_id" ng-change="updateBuffer('state')" ng-options= "state.name for state in States"></select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.license.$invalid && !sellerForm.license.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="license">Type</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select required id="license" class="form-control input-sm" ng-model="select.license_id" ng-change="updateBuffer('license')" ng-options= "license.name for license in Licenses"></select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.number.$invalid && !sellerForm.number.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="number">Number</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input required type="text" class="form-control input-sm" id="number" ng-model="buffer.number" ng-change="updateBuffer('number')" name="number" placeholder="01234567">
                        <p ng-show="sellerForm.number.$invalid && !sellerForm.number.$pristine" class="help-block">Number is required.</p>
                    </div>
                </div>

                <!--<row class="col-sm-12 col-lg-12">-->
                <div class="form-group" ng-class="{ 'has-error' : sellerForm.month.$invalid && !sellerForm.month.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="month">DOB</label>

                    <div ng-if="isiOS" class="col-sm-8 col-lg-6">
                        <input type="date" id="exampleInput" class="form-control input-sm" name="input" ng-model="value"
                               placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
                    </div>

                    <div ng-if="isOther" class="col-sm-8 col-lg-6">
                        <select id="month" class="form-control day-width inline-block input-sm" ng-model="select.month" ng-change="updateBuffer('month')" ng-options= "month.id for month in Months"></select>
                        <!--</div>-->
                        <span class="slash inline-block">/</span>
                        <!--<div class = "col-sm-2 col-lg-2">-->
                        <select id="day" class="form-control day-width inline-block input-sm" ng-model="select.day" ng-change="updateBuffer('day')" ng-options= "day.id for day in Days"></select>
                        <!--</div>-->
                        <!--<div class = "col-sm-2 col-lg-2">-->
                        <span class="slash">/</span>
                        <input type="text" class="form-control year-width inline-block input-sm" id="year" ng-model="buffer.year" ng-change="updateBuffer('year')" name="year">

                    </div>
                </div>
                <!--</row>-->

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.name_last.$invalid && !sellerForm.name_last.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="name_last">Last</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input type="text" class="form-control input-sm" id="name_last" ng-model="buffer.name_last"  ng-change="updateBuffer('name_last')" name="name_last" placeholder="Smith">
                        <p ng-show="sellerForm.name_last.$invalid && !sellerForm.name_last.$pristine" class="help-block">Number is required.</p>
                    </div>
                </div>
                
                <div class="form-group" ng-class="{ 'has-error' : sellerForm.name_first.$invalid && !sellerForm.name_first.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="name_first">First</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input ng-minlength="3" ng-maxlength="8" type="text" class="form-control input-sm" id="name_first" ng-model="buffer.name_first"  ng-change="updateBuffer('name_first')" name="name_first" placeholder="Jane">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.address_1.$invalid && !sellerForm.address_1.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="address_1">Street</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input type="text" class="form-control input-sm" id="address_1" ng-model="buffer.address_1" ng-change="updateBuffer('address_1')" name="address_1" placeholder="432 Elm.">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.address_2.$invalid && !sellerForm.address_2.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="address_2">Apt/Unit</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input type="text" class="form-control input-sm" id="address_2" ng-model="buffer.address_2" ng-change="updateBuffer('address_2')" name="address_2" placeholder="12A">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.city.$invalid && !sellerForm.city.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="city">City</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input type="text" class="form-control input-sm" id="city" ng-model="buffer.city"  ng-change="updateBuffer('city')" name="city" placeholder="Plano">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.astate_id.$invalid && !sellerForm.astate_id.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="astate_id">State</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select id="astate_id" class="form-control input-sm" ng-model="select.astate_id" ng-change="updateBuffer('astate_id')" ng-options= "state.name for state in States"></select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.zipcode.$invalid && !sellerForm.zipcode.$pristine }">
                    <label class="col-sm-3 col-lg-3 control-label" for="zipcode">Zipcode</label>
                    <div class = "col-sm-7 col-lg-6">
                        <input type="text" class="form-control input-sm" id="zipcode" ng-model="buffer.zipcode" ng-change="updateBuffer('zipcode')" name="zipcode" placeholder="00000">
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.height_feet.$invalid && !sellerForm.height_feet.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="height_feet">Height feet</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select id="height_feet" class="form-control input-sm" ng-model="select.height_feet" ng-change="updateBuffer('height_feet')" ng-options= "foot.id for foot in HeightFeetOptions"></select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.height_inches.$invalid && !sellerForm.height_inches.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="height_inches">Height inches</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select id="height_inches" class="form-control input-sm" ng-model="select.height_inches" ng-change="updateBuffer('height_inches')" ng-options= "inch.id for inch in HeightInchOptions"></select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.gender_id.$invalid && !sellerForm.gender_id.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="gender_id">Gender</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select id="gender_id" class="form-control input-sm" ng-model="select.gender_id" ng-change="updateBuffer('gender_id')" ng-options= "gender.name for gender in Genders">
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : sellerForm.eyecolor_id.$invalid && !sellerForm.eyecolor_id.$pristine }">
                    <label class="control-label col-sm-3 col-lg-3" for="eyecolor_id">Eyecolor</label>
                    <div class = "col-sm-7 col-lg-6">
                        <select id="eyecolor_id" class="form-control input-sm" ng-model="select.eyecolor_id" ng-change="updateBuffer('eyecolor_id')" ng-options= "eyecolor.name for eyecolor in Eyecolors">
                        </select>
                    </div>
                </div>

                <div class="row col-sm-8 col-lg-8 col-sm-push-5 col-lg-push-5">
                    <button type="submit" class="btn btn-primary" ng-disabled="sellerForm.$invalid">Save</button>
                    <button class="btn">Cancel</button>
                </div>

            </form>
            <!--</div>-->

        </div>


    </div>
</div> <!--End of container div    -->
