<p id="notice"><%= notice %></p>

<p>
  <b>Sort:</b>
  <%= @language.sort %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @language.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @language.description %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
