<h1>Listing basemetals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @basemetals.each do |basemetal| %>
  <tr>
    <td><%= basemetal.name %></td>
    <td><%= basemetal.abbreviation %></td>
    <td><%= link_to 'Show', basemetal %></td>
    <td><%= link_to 'Edit', edit_basemetal_path(basemetal) %></td>
    <td><%= link_to 'Destroy', basemetal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Basemetal', new_basemetal_path %>
