<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @basemetal.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @basemetal.abbreviation %>
</p>


<%= link_to 'Edit', edit_basemetal_path(@basemetal) %> |
<%= link_to 'Back', basemetals_path %>
