
.form-title-bottom-border {
    border-bottom-color: grey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.slash {
    font-family: arial, sans-serif;
    font-size: 20px;
}

.inline-block {
    display: inline-block;
}

.month-width {
    width: 50px;
}

.day-width {
    width: 50px;
}

.year-width {
    width: 70px;
}

.div-spacer {
    margin-bottom: 20px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}