<!DOCTYPE html>
<html ng-app>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="bstest.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>


    <title>Form Test</title>
</head>
<body>
<div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>
</div>

    <div class="div-spacer"></div>

    <div class="container">
        <div class="well col-sm-push-2 col-lg-push-2 col-sm-6 col-lg-5">
            <div class="row form-title-bottom-border">
                <div class="text-center">
                    <h3 class="">State Issued Identification</h3>
                </div>
            </div>

            <!--<div class="div-spacer"></div>-->

            <!--<div class="stepwizard">-->
                <!--<div class="stepwizard-row">-->
                    <!--<div class="stepwizard-step">-->
                        <!--<button type="button" class="btn btn-default btn-circle">1</button>-->
                        <!--<p>Cart</p>-->
                    <!--</div>-->
                    <!--<div class="stepwizard-step">-->
                        <!--<button type="button" class="btn btn-primary btn-circle">2</button>-->
                        <!--<p>Shipping</p>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<div class="stepwizard-step">&ndash;&gt;-->
                        <!--&lt;!&ndash;<button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p>Payment</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->

            <div class="div-spacer"></div>

            <div class="row">

                <!--<div class="col-sm-push-4 col-sm-4 col-lg-push-4 col-lg-4 outline-black-1">-->

                    <form role="form" class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-lg-3" for="issue-state">State</label>
                            <div class = "col-sm-7 col-lg-6">
                                <select id="issue-state" class="form-control">
                                    <option value="tx">Texas</option>
                                    <option value="az">Arizona</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-lg-3" for="idtype">Type</label>
                            <div class = "col-sm-7 col-lg-6">
                                <select id="idtype" class="form-control">
                                    <option value="dl">Drivers License</option>
                                    <option value="id">Identification Card</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                                <label class="col-sm-3 col-lg-3 control-label" for="number">Number</label>
                                <div class = "col-sm-7 col-lg-6">
                                    <input type="text" class="form-control" id="number"  name="number" placeholder="01234567">
                                </div>
                        </div>

                        <!--<row class="col-sm-12 col-lg-12">-->
                        <div class="form-group">
                            <label class="control-label col-sm-3 col-lg-3" for="month">DOB</label>

                            <div class = "col-sm-8 col-lg-6">
                                <select id="month" class="form-control month-width inline-block">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                </select>
                            <!--</div>-->
                                <span class="slash inline-block">/</span>
                            <!--<div class = "col-sm-2 col-lg-2">-->
                                <select id="day" class="form-control day-width inline-block">
                                    <option value="1">01</option>
                                    <option value="2">02</option>
                                </select>
                            <!--</div>-->

                            <!--<div class = "col-sm-2 col-lg-2">-->
                               <span class="slash">/</span>

                                <select id="year" class="form-control year-width inline-block">
                                    <option value="1980">1980</option>
                                    <option value="2002">2002</option>
                                </select>
                            </div>
                        </div>
                        <!--</row>-->

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-3 control-label" for="street">Street</label>
                            <div class = "col-sm-7 col-lg-6">
                                <input type="text" class="form-control" id="street"  name="street" placeholder="432 Elm. Apt 12A">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-3 control-label" for="apt">Apartment</label>
                            <div class = "col-sm-7 col-lg-6">
                                <input type="text" class="form-control" id="apt"  name="apt" placeholder="12A">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-3 control-label" for="City">City</label>
                            <div class = "col-sm-7 col-lg-6">
                                <input type="text" class="form-control" id="city"  name="city" placeholder="Plano">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3 col-lg-3" for="state">State</label>
                            <div class = "col-sm-7 col-lg-6">
                                <select id="state" class="form-control">
                                    <option value="tx">Texas</option>
                                    <option value="ok">Oklahoma</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 col-lg-3 control-label" for="Zipcode">Zipcode</label>
                            <div class = "col-sm-7 col-lg-6">
                                <input type="text" class="form-control" id="zipcode"  name="zipcode" placeholder="00000">
                            </div>
                        </div>

                        <div class="row col-sm-8 col-lg-8 col-sm-push-5 col-lg-push-5">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="" class="btn">Cancel</button>
                        </div>

                    </form>
                <!--</div>-->

            </div>


        </div>
    </div> <!--End of container div    -->

</body>
</html>