<%= simple_form_for([@account, @user]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :role_id, collection: @roles, :selected => @selected_role_id, :include_blank => false %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone_cell %>
      <%= f.association :cellcarrier %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>