<h3>Users for <%= @account.name %></h3>

<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>uuid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= display_role(user) %></td>
      <td><%= user.slug %></td>
      <td><%= link_account_user(@account, user) %></td>
      <!--<td><%#= link_to t('user.link_edit'), account_user_path(@account, user) %></td>-->
      <td><%= link_to t('user.link_change_password'), send_temp_password_path(@account,user), method: :put %></td>
      <!--<td><%#= link<%= display_role(user) %>_edit_account_user(@account, user) %></td>-->
      <td><%= link_to "delete", account_user_path(@account,user), method: :delete,
                      data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<div><%#= current_user.inspect %></div>

<div><%= link_new_account_user(@account) %></div>

