<h3>Create onwner record for <%= @user.account.name %></h3>

<%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone_cell %>
      <%= f.association :cellcarrier %>
    </div>
    <div>
      <%= t('users.new.replacement_code_sent')%>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<%= link_to 'Back', users_path %>