<h3>User</h3>
<div>
<p>Email: <%= @user.email if @user.email %></p>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Role: <%= display_role(@user) %></p>
</div>

<div>
  <%= link_edit_account_user(@account,@user) %>
</div>