<%= simple_form_for(@purchase) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :license %>
    <%= f.input :purchase_id %>
    <%= f.input :user_id %>
    <%= f.input :tag_id %>
    <%= f.input :receipt %>
    <%= f.input :temporarylocation_id %>
    <%= f.input :seller_id %>
    <%= f.input :comment %>
    <%= f.input :scarp_percent %>
    <%= f.input :pay_amount %>
    <%= f.input :pay_method %>
    <%= f.input :pay_number %>
    <%= f.input :pay_comment %>
    <%= f.input :promotion_id %>
    <%= f.input :conversion_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
