<h1>Listing purchases</h1>

<table>
  <tr>
    <th>License</th>
    <th>Purchase</th>
    <th>User</th>
    <th>Tag</th>
    <th>Receipt</th>
    <th>Temporarylocation</th>
    <th>Seller</th>
    <th>Comment</th>
    <th>Scarp percent</th>
    <th>Pay amount</th>
    <th>Pay method</th>
    <th>Pay number</th>
    <th>Pay comment</th>
    <th>Promotion</th>
    <th>Conversion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.license %></td>
    <td><%= purchase.purchase_id %></td>
    <td><%= purchase.user_id %></td>
    <td><%= purchase.tag_id %></td>
    <td><%= purchase.receipt %></td>
    <td><%= purchase.temporarylocation_id %></td>
    <td><%= purchase.seller_id %></td>
    <td><%= purchase.comment %></td>
    <td><%= purchase.scarp_percent %></td>
    <td><%= purchase.pay_amount %></td>
    <td><%= purchase.pay_method %></td>
    <td><%= purchase.pay_number %></td>
    <td><%= purchase.pay_comment %></td>
    <td><%= purchase.promotion_id %></td>
    <td><%= purchase.conversion_id %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
