<p id="notice"><%= notice %></p>

<p>
  <b>License:</b>
  <%= @purchase.license %>
</p>

<p>
  <b>Purchase:</b>
  <%= @purchase.purchase_id %>
</p>

<p>
  <b>User:</b>
  <%= @purchase.user_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @purchase.tag_id %>
</p>

<p>
  <b>Receipt:</b>
  <%= @purchase.receipt %>
</p>

<p>
  <b>Temporarylocation:</b>
  <%= @purchase.temporarylocation_id %>
</p>

<p>
  <b>Seller:</b>
  <%= @purchase.seller_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @purchase.comment %>
</p>

<p>
  <b>Scarp percent:</b>
  <%= @purchase.scarp_percent %>
</p>

<p>
  <b>Pay amount:</b>
  <%= @purchase.pay_amount %>
</p>

<p>
  <b>Pay method:</b>
  <%= @purchase.pay_method %>
</p>

<p>
  <b>Pay number:</b>
  <%= @purchase.pay_number %>
</p>

<p>
  <b>Pay comment:</b>
  <%= @purchase.pay_comment %>
</p>

<p>
  <b>Promotion:</b>
  <%= @purchase.promotion_id %>
</p>

<p>
  <b>Conversion:</b>
  <%= @purchase.conversion_id %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
