<h1>Listing standings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Sort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standings.each do |standing| %>
  <tr>
    <td><%= standing.name %></td>
    <td><%= standing.description %></td>
    <td><%= standing.sort %></td>
    <td><%= link_to 'Show', standing %></td>
    <td><%= link_to 'Edit', edit_standing_path(standing) %></td>
    <td><%= link_to 'Destroy', standing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Standing', new_standing_path %>
