<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @standing.name %>
</p>

<p>
  <b>Description:</b>
  <%= @standing.description %>
</p>

<p>
  <b>Sort:</b>
  <%= @standing.sort %>
</p>


<%= link_to 'Edit', edit_standing_path(@standing) %> |
<%= link_to 'Back', standings_path %>
