.modal{
  width: 400px;
  //height: 550px;
}
.modal-header{
 background-color: white;
 border-color: black;
 border-width: 2px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-width: 0px;

}
.modal-body{
  background-color: white;
  padding-bottom: 40px;
}
.modal-footer{
  background-color: white;
  margin-top: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

//.modal label{
//  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
//  font-size: 12px;
//  font-style: normal;
//  font-weight: 300;
//  margin-right: 5px;
//}
//
//.form-section{
//  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
//  font-size: 14px;
//  font-weight: 300;
//  //margin-bottom: 25px;
//}
//
//.form-row{
//  margin-top: 10px;
//  padding-left: 10px;
//}
//
//.modal input{
//  border-radius: 7px;
//}
//
//.modal .input-group input{
//  border-radius: 7px 0px 0px 7px;
//}