

      <legend><small>Purchase Items</small></legend>

      <form class="form-inline">
        <div id="sellerSection" class="row" ng-controller="SellerCtrl">

          <div class="form-group col-lg-3">
            <label class="" for="sellerId">Seller Identification</label>
            <div>
                <textarea id="sellerId" class="form-control" ng-model="sellerId" rows="6" placeholder="Click to add seller" ng-click="sellerDialogShow()"></textarea>
            <!--<span class="help-inline" ng-show="ctrlErrors['seller'].status" ><i class="icon-info-sign"></i>{{ctrlErrors['seller'].msg}}</span>-->

            </div>
          </div>

          <div class="form-group col-lg-3">
            <label for="comments">Comments</label>
                <div>
                    <textarea id="comments" class="form-control" ng-model="sellerComments" rows="6" placeholder="Private comments. Will not print on form." ></textarea>
                </div>
          </div>

          <angular-logo></angular-logo>

            <!--<div class="form-group">-->
              <!--&lt;!&ndash;<div id="payout" class="col-md-3" ng-controller="QuoteCtrl">&ndash;&gt;-->
              <!--&lt;!&ndash;<table class="table ">&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                  <!--&lt;!&ndash;<td colspan='2' class="cell-align-center">Currently Paying</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<tr ng-click="quote('Au')">&ndash;&gt;-->
                  <!--&lt;!&ndash;<td class="cell-align-right">{{ displayAuPayout | formatDollar}}</td><td>Gold</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                  <!--&lt;!&ndash;<td ng-click="quote('Ag')" class="cell-align-right">{{ displayAgPayout | formatDollar }}</td><td>Silver</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                  <!--&lt;!&ndash;<td ng-click="quote('Pt')" class="cell-align-right">{{ displayPtPayout | formatDollar }}</td><td>Platinum</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
              <!--&lt;!&ndash;</table>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        </div>

      </form>




          <div ng-controller="ItemsCtrl" class="top-margin-20">
              <div id="ItemsGrid2" class="gridStyle" ng-grid="ItemsGrid"></div>


              <div class="ngFooterPanel">

                <form class="form-inline">
                  <div class="form-group">
                    </span><button class="btn btn-small btn-link" ng-click="newRow();"><span class="icon-plus"></span>Additional Item</button>
                  </div>
                    <!--<div ng-controller="SummaryCtrl">-->

                      <!--<div class="form-group">-->
                        <!--<label for="payment">Payment Amount</label>-->
                        <!--<input type="text" id="payment" integer class="input-xsmall input-align-right" ng-model="Payment" name="payment" disabled>-->
                      <!--</div>-->


                    <!--<div class="form-group">-->
                      <!--<label for="payment-method">Method</label>-->
                      <!--<select type="text" class="input-small" id="payment-method" name="payment-method" ng-model="paymentMethod" ng-options= "method.id as method.name for method in PaymentMethods"> </select>-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                      <!--<label for="payment-note">Note</label>-->
                      <!--<input type="text" class="input-medium" id="payment-note" name="payment-note" ng-model="paymentNote" placeholder="">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                      <!--<button class="btn btn-medium" ng-click="processPurchase();">Purchase Items</button>-->
                    <!--</div>-->

                    <!--</div>-->
                </form>
              </div>

          </div> <!-- End of Items-->

        <!--<form class="form-inline">-->
      <!--<div ng-controller="SummaryCtrl">-->

        <!--<div class="form-group">-->
           <!--<label for="payment">Payment Amount</label>-->
           <!--<input type="text" id="payment" integer class="input-xsmall input-align-right" ng-model="Payment" name="payment" disabled>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<label for="payment-method">Method</label>-->
          <!--<select type="text" class="input-small" id="payment-method" name="payment-method" ng-model="paymentMethod" ng-options= "method.id as method.name for method in PaymentMethods"> </select>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<label for="payment-note">Note</label>-->
          <!--<input type="text" class="input-medium" id="payment-note" name="payment-note" ng-model="paymentNote" placeholder="">-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<button class="btn btn-medium" ng-click="processPurchase();">Purchase Items</button>-->
        <!--</div>-->

      <!--</div>-->

    <!--</form>-->

            <!--</div>-->



    <!-- End of primary div ->
