<h3>Accounts</h3>


<table class="table table-striped">
  <tr>
    <th><%= t('account.number')%></th>
    <th><%= t('account.name') %></th>
    <th><%= t('account.standing')%></th>
    <th><%= t('account.contact_name') %></th>
    <th><%= t('account.contact_title') %></th>
    <th><%= t('account.phone_office') %></th>
    <th></th>
  </tr>

  <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.number, account_path(account.id), rel: 'show-account'  %></td>
        <td><%= account.name %></td>
        <td><%= account.standing_name %></td>
        <td><%= account.contact_full_name %></td>
        <td><%= account.contact_title %></td>
        <td><%= account.phone_office_formatted %></td>
        <td><%= link_to t('account.link_list_stores'), stores_list_path(:search => account.id), rel: 'list-stores' %></td>

        <!--<td><%#= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
  <% end %>
</table>