<%= simple_form_for(@metal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :description %>
    <%#= f.association :language, include_blank: false, label_method: 'language_title' %>
    <%= f.association :basemetal, include_blank: false %>
    <%= f.input :purity %>
    <%= f.input :factor %>
    <%= f.input :sort %>
    <%= f.input :language_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
