<h1>Listing metals</h1>

<table>
  <tr>

    <th>Name</th>
    <th>Description</th>
    <th>Base Metal</th>
    <th>Abbreviation</th>
    <th>Purity</th>
    <th>Factor</th>
    <th>Sort</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @metals.each do |metal| %>
  <tr>
    <td><%= metal.name %></td>
    <td><%= metal.description %></td>
    <td><%= metal.basemetal.name %></td>
    <td><%= metal.abbreviation %></td>
    <td><%= metal.purity %></td>
    <td><%= metal.factor %></td>
    <td><%= metal.sort %></td>
    <td><%= metal.language.abbreviation %></td>
    <td><%= link_to 'Show', metal %></td>
    <td><%= link_to 'Edit', edit_metal_path(metal) %></td>
    <td><%= link_to 'Destroy', metal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Metal', new_metal_path %>
