<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @metal.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @metal.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @metal.description %>
</p>

<p>
  <b>Base metal:</b>
  <%= @metal.basemetal.name %>
</p>

<p>
  <b>Purity:</b>
  <%= @metal.purity %>
</p>

<p>
  <b>Factor:</b>
  <%= @metal.factor %>
</p>

<p>
  <b>Language:</b>
  <%= @metal.language.abbreviation %>
</p>

<p>
  <b>Sort:</b>
  <%= @metal.sort %>
</p>


<%= link_to 'Edit', edit_metal_path(@metal) %> |
<%= link_to 'Back', metals_path %> |
<%= link_to 'New Metal', new_metal_path %>
