<h1>Listing tags</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Purchase</th>
    <th>Release</th>
    <th>Processed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.number %></td>
    <td><%= tag.purchase_id %></td>
    <td><%= tag.release %></td>
    <td><%= tag.processed %></td>
    <td><%= link_to 'Show', tag %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tag', new_tag_path %>
