<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @tag.number %>
</p>

<p>
  <b>Purchase:</b>
  <%= @tag.purchase_id %>
</p>

<p>
  <b>Release:</b>
  <%= @tag.release %>
</p>

<p>
  <b>Processed:</b>
  <%= @tag.processed %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
