<h1>Listing unitsizes</h1>

<table>
  <tr>
    <th>Sort</th>
    <th>Abbreviation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unitsizes.each do |unitsize| %>
  <tr>
    <td><%= unitsize.sort %></td>
    <td><%= unitsize.abbreviation %></td>
    <td><%= unitsize.description %></td>
    <td><%= link_to 'Show', unitsize %></td>
    <td><%= link_to 'Edit', edit_unitsize_path(unitsize) %></td>
    <td><%= link_to 'Destroy', unitsize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unitsize', new_unitsize_path %>
