<p id="notice"><%= notice %></p>

<p>
  <b>Sort:</b>
  <%= @unitsize.sort %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @unitsize.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @unitsize.description %>
</p>


<%= link_to 'Edit', edit_unitsize_path(@unitsize) %> |
<%= link_to 'Back', unitsizes_path %>
