<h1>Listing eyecolors</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eyecolors.each do |eyecolor| %>
  <tr>
    <td><%= eyecolor.abbreviation %></td>
    <td><%= eyecolor.name %></td>
    <td><%= eyecolor.description %></td>
    <td><%= link_to 'Show', eyecolor %></td>
    <td><%= link_to 'Edit', edit_eyecolor_path(eyecolor) %></td>
    <td><%= link_to 'Destroy', eyecolor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eyecolor', new_eyecolor_path %>
