<p id="notice"><%= notice %></p>

<p>
  <b>Abbreviation:</b>
  <%= @eyecolor.abbreviation %>
</p>

<p>
  <b>Name:</b>
  <%= @eyecolor.name %>
</p>

<p>
  <b>Description:</b>
  <%= @eyecolor.description %>
</p>

<%= link_to 'Edit', edit_eyecolor_path(@eyecolor) %> |
<%= link_to 'Back', eyecolors_path %>
