<li id="menu-accounts" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "List accounts", accounts_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Create new account", new_account_path %></li>
  </ul>
</li>