<li id="menu-account" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Company<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Details", account_path(:id => current_user.account_id) %></li>
    <li class="divider"></li>
    <li><%#= link_to "Create new account", new_account_path %></li>
  </ul>
</li>