<% if current_user.has_role? :admin %>
    <li id="menu-admin" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Ops <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to "CSR", users_path(:user_role => ROLE_CSR) %></li>
        <li><%= link_to "Accounts", users_path(:user_role => ROLE_ACCOUNT) %></li>
        <li><%= link_to "Managers", users_path(:user_role => ROLE_MANAGER) %></li>
      </ul>
    </li>
<% end %>

