<li>
  <% if (current_user.has_role? :primary) || (current_user.has_role? :manager) %>
      <%= link_to 'Administration', account_users_path(current_user.account_slug) %>
  <% else %>
    <%= link_to 'Administration', administration_path %>
  <% end %>
</li>