<% if current_user.has_role? :admin %>
    <%= render :partial => 'layouts/menu_partials/admin_link' %>
    <%= render :partial => 'layouts/menu_partials/report_link' %>
<% elsif current_user.has_role? :accounting %>
    <%= render :partial => 'layouts/menu_partials/admin_link' %>

<% elsif current_user.has_role? :support %>
    <%= render :partial => 'layouts/menu_partials/admin_link' %>
    <%= render :partial => 'layouts/menu_partials/report_link' %>

<% elsif current_user.has_role? :primary %>
    <%= render :partial => 'layouts/menu_partials/purchase_link' %>
    <%= render :partial => 'layouts/menu_partials/admin_link' %>
    <%= render :partial => 'layouts/menu_partials/report_link' %>

<% elsif current_user.has_role? :manager %>
    <%= render :partial => 'layouts/menu_partials/admin_link' %>
    <%= render :partial => 'layouts/menu_partials/report_link' %>

    <% else %>

    <li>
      <%= link_to "#{current_user.first_name}'s account", edit_user_registration_path %>
    </li>

<% end %>
