<li id="menu-authorize" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Authorize<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "List authorization records.", authorizes_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Renew authorization", authorizes_renew_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Create authorization", new_authorize_path %></li>
  </ul>
</li>