<li id="menu-seller" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seller<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Create", new_seller_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Edit", seller_path(1) %></li>
  </ul>
</li>

<!--<li id="menu-seller" class="dropdown">-->
  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Seller <b class="caret"></b></a>-->
  <!--<ul class="dropdown-menu">-->
    <!--<li><a href="#">Action</a></li>-->
    <!--<li><a href="#">Another action</a></li>-->
    <!--<li><a href="#">Something else here</a></li>-->
    <!--<li class="divider"></li>-->
    <!--<li class="dropdown-header">Nav header</li>-->
    <!--<li><a href="#">Separated link</a></li>-->
    <!--<li><a href="#">One more separated link</a></li>-->
  <!--</ul>-->
<!--</li>-->

<!--<li id="menu-seller" class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Seller<b class="caret"></b></a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><%= link_to "Create", new_seller_path %></li>-->
<!--<li class="divider"></li>-->
<!--<li><%= link_to "Edit", seller_path(1) %></li>-->
<!--</ul>-->
<!--</li>-->