<li id="menu-users" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "List Primary Users", users_path(:user_role => ROLE_ACCOUNT) %></li>
    <li><%= link_to "List Managers", users_path(:user_role => ROLE_MANAGER) %></li>
    <li class="divider"></li>
    <li><%= link_to "Create Primary User", admin_new_primary_path %></li>
  </ul>
</li>