<%= simple_form_for(@onboard) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs well">
    <legend>Account details</legend>
    <%= f.input :number %>
    <%= f.input :name %>
    <%#= f.input :a_first_name %>
    <%#= f.input :a_last_name %>
    <%#= f.input :a_title %>
    <%#= f.input :a_email %>
    <%#= f.input :a_phone_office %>
    <%#= f.input :a_phone_office_ext %>
    <%#= f.input :a_phone_cell %>
    <%#= f.input :a_address_1 %>
    <%#= f.input :a_address_2 %>
    <%#= f.input :a_city %>
    <%#= f.input :location_id, collection: @locations, label_method: :location_name, value_method: :id,label: "Location", include_blank: false, selected: @bill.location_id %>
    <%#= f.input :a_state_id, :collection => State.all, value_method: :id %>
    <%#= f.input :a_zipcode %>
    <%#= f.input :a_anniversary %>
    <%#= f.input :a_code %>
  </div>

    <div class="form-inputs well">
      <legend>Store details</legend>
      <%#= f.input :s_name %>
      <%#= f.input :s_license %>
      <%#= f.input :s_key %>
      <%#= f.input :s_anniversary %>
      <%#= f.input :s_standing_id %>
      <%#= f.input :s_location_id %>
      <%#= f.input :s_phone_office %>
      <%#= f.input :s_phone_office_ext %>
      <%#= f.input :s_address_1 %>
      <%#= f.input :s_address_2 %>
      <%#= f.input :s_city %>
      <%#= f.input :s_state_id, :collection => State.all, value_method: :id %>
      <%#= f.input :s_zipcode %>



    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
