<%= simple_form_for(@authorize) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :store, :include_blank => false, :label_method => lambda { |store| "#{store.name} #{store.city} #{store.zipcode}" } %>
    <%= f.association :user, :disabled => true, :include_blank => false, :label_method => lambda { |user| "#{user.first_name} #{user.last_name}" } %>
    <%#= f.input :active %>
    <%#= f.input :license %>
    <%= f.input :payment %>
    <%= f.input :payment_date %>
    <%= f.association :paymethod %>
    <%= f.input :payment_note %>
    <%#= f.input :expiration_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
