<h1>Listing authorizes</h1>

<table>
  <tr>
    <th>Store</th>
    <th>User</th>
    <th>Active</th>
    <th>Payment date</th>
    <th>Payment amount</th>
    <th>Paymethod</th>
    <th>Payment note</th>
    <th>Expiration date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authorizes.each do |authorize| %>
  <tr>
    <td><%= authorize.store_id %></td>
    <td><%= authorize.user_id %></td>
    <td><%= authorize.active %></td>
    <td><%= authorize.payment_date %></td>
    <td><%= authorize.payment %></td>
    <td><%= authorize.paymethod_id %></td>
    <td><%= authorize.payment_note %></td>
    <td><%= authorize.expiration_date %></td>
    <td><%= link_to 'Show', authorize %></td>
    <td><%= link_to 'Edit', edit_authorize_path(authorize) %></td>
    <td><%= link_to 'Destroy', authorize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Authorize', new_authorize_path %>
