<h3>Authorizations for <%= @account_name %></h3>

<table class="table table-striped">
  <tr>
    <th><%= t('authorize.store') %></th>
    <th><%= t('authorize.expire_date')%></th>
    <th><%= t('authorize.grace') %></th>
    <th><%= t('authorize.user') %></th>
    <th><%= t('authorize.renewal_date') %></th>
  </tr>

<% @authorizes.each do |authorize| %>
  <tr>
    <td><%= link_to authorize.store.name, authorize_path(authorize.id)  %></td>
    <td><%= authorize.expiration_date %></td>
    <td><%= authorize.grace %></td>
    <td><%= authorize.user_id %></td>
    <td><%= authorize.renewal_date %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Authorize', new_authorize_path %>
