<p id="notice"><%= notice %></p>

<p>
  <b>Store:</b>
  <%= @authorize.store_id %>
</p>

<p>
  <b>User:</b>
  <%= @authorize.user_id %>
</p>

<p>
  <b>Active:</b>
  <%= @authorize.active %>
</p>

<p>
  <b>Payment date:</b>
  <%= @authorize.payment_date %>
</p>

<p>
  <b>Payment amount:</b>
  <%= currency_symbol %><%= @authorize.payment %>
</p>

<p>
  <b>Paymethod:</b>
  <%= @authorize.paymethod_id %>
</p>

<p>
  <b>Payment note:</b>
  <%= @authorize.payment_note %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @authorize.expiration_date %>
</p>


<%= link_to 'Edit', edit_authorize_path(@authorize) %> |
<%= link_to 'Back', authorizes_path %>
