<%= simple_form_for(@stonecut) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :language, include_blank: false, label_method: 'language_title' %>
    <%= f.input :sort %>
    <%= f.input :name %>
    <%= f.input :abbreviation %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
