<legend>Listing stonecuts</legend>

<table class='table'>
  <tr>
    <th>Language</th>
    <th>Sort</th>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stonecuts.each do |stonecut| %>
  <tr>
    <td><%= stonecut.language.description %></td>
    <td><%= stonecut.sort %></td>
    <td><%= stonecut.name %></td>
    <td><%= stonecut.abbreviation %></td>
    <td><%= stonecut.description %></td>
    <td><%= link_to 'Show', stonecut %></td>
    <td><%= link_to 'Edit', edit_stonecut_path(stonecut) %></td>
    <td><%= link_to 'Destroy', stonecut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stonecut', new_stonecut_path %>
