<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @stonecut.language.description %>
</p>

<p>
  <b>Sort:</b>
  <%= @stonecut.sort %>
</p>

<p>
  <b>Name:</b>
  <%= @stonecut.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @stonecut.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @stonecut.description %>
</p>


<%= link_to 'Edit', edit_stonecut_path(@stonecut) %> |
<%= link_to 'Back', stonecuts_path %>
