<%= simple_form_for(@role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :sort %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
