<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :license %>
    <%= f.input :purchase_id %>
    <%= f.input :user_id %>
    <%= f.input :scrap_percent %>
    <%= f.input :payment %>
    <%= f.association :gender, label_method: 'listbox_method'  %>
    <%= f.association :product %>
    <%= f.association :metal, label_method: 'listbox_method' %>
    <%= f.input :weight %>
    <%= f.association :unitweight %>
    <%= f.input :size %>
    <%= f.association :unitsize %>
    <%= f.input :description %>
    <%= f.input :hallmark %>
    <%= f.input :serialnumber %>
    <%= f.input :engraving %>
    <%= f.input :comments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
