<h1>Listing items</h1>

<table>
  <tr>
    <th>License</th>
    <th>Purchase</th>
    <th>User</th>
    <th>Scrap percent</th>
    <th>Payment</th>
    <th>Gender</th>
    <th>Product</th>
    <th>Metal</th>
    <th>Weight</th>
    <th>Unit weights</th>
    <th>Size</th>
    <th>Unit size</th>
    <th>Description</th>
    <th>Hallmark</th>
    <th>Serialnumber</th>
    <th>Engraving</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.license %></td>
    <td><%= item.purchase_id %></td>
    <td><%= item.user_id %></td>
    <td><%= item.scrap_percent %></td>
    <td><%= item.payment %></td>
    <td><%= item.gender_id %></td>
    <td><%= item.product_id %></td>
    <td><%= item.metal_id %></td>
    <td><%= item.weight %></td>
    <td><%= item.unitweight_id %></td>
    <td><%= item.size %></td>
    <td><%= item.unitsize_id %></td>
    <td><%= item.description %></td>
    <td><%= item.hallmark %></td>
    <td><%= item.serialnumber %></td>
    <td><%= item.engraving %></td>
    <td><%= item.comments %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
