<p id="notice"><%= notice %></p>

<p>
  <b>License:</b>
  <%= @item.license %>
</p>

<p>
  <b>Purchase:</b>
  <%= @item.purchase_id %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Scrap percent:</b>
  <%= @item.scrap_percent %>
</p>

<p>
  <b>Payment:</b>
  <%= @item.payment %>
</p>

<p>
  <b>Gender:</b>
  <%= @item.gender_id %>
</p>

<p>
  <b>Product:</b>
  <%= @item.product_id %>
</p>

<p>
  <b>Metal:</b>
  <%= @item.metal_id %>
</p>

<p>
  <b>Weight:</b>
  <%= @item.weight %>
</p>

<p>
  <b>Unit weights:</b>
  <%= @item.unitweight_id %>
</p>

<p>
  <b>Size:</b>
  <%= @item.size %>
</p>

<p>
  <b>Unit size:</b>
  <%= @item.unitsize_id %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Hallmark:</b>
  <%= @item.hallmark %>
</p>

<p>
  <b>Serialnumber:</b>
  <%= @item.serialnumber %>
</p>

<p>
  <b>Engraving:</b>
  <%= @item.engraving %>
</p>

<p>
  <b>Comments:</b>
  <%= @item.comments %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
