<ng-form id="_itemDetails" class="form-horizontal" role="form">
  <div ng-controller="ItemDialogTabDetailsCtrl">

      <!--<div class="form-section">Details-->
          <div class="form-row">
              <div class="form-group">
                  <label class="label-item-details" for="input-description">Description</label>
                  <div class="col-lg-10">
                    <input id="input-description" class="form-control input-item-details" ng-model="buffer.description" ng-change="updateBuffer('description')" type="text">
                  </div>
              </div>

              <!--<div class="form-group input-group-weight">-->
                  <!--<label class="lbl-weight" for="input-test">Weight</label>-->
                  <!--<input id="input-test" type="text" class="form-control">-->

              <div class="form-group">
                  <label class= "label-item-details" for="input-engraving">Engraving</label>
                  <div class="col-lg-10">
                    <input id="input-engraving" class="form-control input-item-details" ng-model="buffer.engraving" ng-change="updateBuffer('engraving')" type="text">
                  </div>
              </div>

              <div class="form-group">
                  <label class="label-item-details" for="input-hallmark">Hallmark</label>
                  <div class="col-lg-10">
                    <input id="input-hallmark" class="form-control input-item-details" ng-model="buffer.hallmark" ng-change="updateBuffer('hallmark')" type="text">
                  </div>
              </div>

              <div class="form-group">
                  <label class="label-item-details" for="input-comments">Comments</label>
                  <div class="col-lg-10">
                    <input id="input-comments" class="form-control input-item-details" ng-model="buffer.comments" ng-change="updateBuffer('comments')" type="text">
                  </div>
              </div>

          </div>
      </div>


  <!--</div>-->
</ng-form>