<div id="_itemGeneral">
    <ng-form name="_itemGeneral" class="form-horizontal" role="form">
      <div ng-controller="ItemDialogTabGeneralCtrl">

        <!--<div class="form-section">Item-->
            <!--<div class="form-row">-->
                <div class="form-group" >
                    <label for="selectGender" ng-class="{'ng-invalid': _itemGeneral.selectGender.$invalid}">Gender</label>
                    <div class="col-lg-10">
                        <select required id="selectGender" name="selectGender" class="input-sm" ng-model="select.gender" ng-change="UpdateBuffer('gender')" ng-options= "gender.abbreviation for gender in Genders"/> </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectCategory">Category</label>
                    <div class="col-lg-10">
                        <select id="selectCategory" class="input-sm" ng-model="select.productCategory" ng-change="UpdateBuffer('productCategory')" ng-options= "pcategory.id as pcategory.name for pcategory in ProductCategories"/> </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="selectProduct" ng-class="{'ng-invalid': _itemGeneral.selectProduct.$dirty}" >Product</label>
                    <div class="col-lg-10">
                        <select id="selectProduct" class="input-sm" ng-model="select.product" ng-change="UpdateBuffer('product')" ng-options= "product.id as product.name for product in Products | filter:{productcategory_id:select.productCategory}"/> </select>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-section">Weight / Measure-->
            <!--<div class="form-row">-->
                <div class="form-group">
                    <label for="selectMetal">Metal</label>
                    <div class="col-lg-10">
                        <select id="selectMetal" class="input-sm" ng-model="select.metal" ng-change="UpdateBuffer('metal')" ng-options= "metal.abbreviation for metal in Metals"/> </select>
                    </div>
                </div>

          <div class="form-group">
                    <label class="lbl-weight" for="input-weight"  ng-class="{'ng-invalid': _itemGeneral.input-weight.$error.required}">Weight</label>
                    <div class="col-lg-10">
                        <input id="input-weight" name="input-weight" type="text" class="form-control" required>
                            <div class="input-group-btn btn-weight">
                                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">dwt<span class ="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#">gm</a></li>
                                        <li><a href="#">oz</a></li>
                                        <li><a href="#">dwt</a></li>
                                    </ul>
                            </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="lbl-size" for="input-size">Size</label>
                    <div class="col-lg-10">
                        <input id="input-size" type="text" class="form-control">
                        <div class="input-group-btn btn-size">
                            <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown">rs<span class ="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="#">cm</a></li>
                                <li><a href="#">in</a></li>
                                <li><a href="#">rs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        <!--</div>-->

      <!--</div>-->
    </ng-form>
</div>