<ng-form id="_itemStones" class="form-horizontal" role="form">
  <div ng-controller="ItemDialogTabStonesCtrl">

    <div class="form-section">Stones
        <div class="edit-row" ng-style="getRowTop()" ng-show="editDisplay">
            <div class="row-input">
                <input id=inputQty class="input-small" ng-model="stone.qty">
                <select id="selectSize" class="input-small" ng-model="stone.size" ng-change="UpdateBuffer('size')" ng-options= "size.abbreviation for size in StoneSizes"/> </select>
                <select id="selectColor" class="input-small" ng-model="stone.color" ng-change="UpdateBuffer('color')" ng-options= "color.abbreviation for color in StoneColors"/> </select>
                <select id="selectType" class="input-small" ng-model="stone.type" ng-change="UpdateBuffer('type')" ng-options= "type.name for type in StoneTypes"/> </select>
            </div>
            <div class="row-controls">
                <button id="btnSave" class="btn btn-link">Save</button>
                <button id="btnCancel" class="btn btn-link" ng-click="cancelStone()">Cancel</button>
                <button id="btnDelete" class="btn btn-link" ng-click="deleteStone()">Delete</button>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr class="stones-row-height" ng-repeat="stone in buffer.stones" ng-click="editStone($index)" >
                    <!--<td>{{$index}}</td>-->
                    <td>{{stone.qty}}</td>
                    <td>{{stone.size}}</td>
                    <td>{{stone.color}}</td>
                    <td>{{stone.type}}</td>
                </tr>
            </tbody>
        </table>
        <!--<div class="edit-row row-1" ng-show="stoneEdit">-->
            <!--<div class="row-1">-->
                <!--<input id=inputQty class="input-small" ng-model="stone.qty">-->
                <!--<select id="selectSize" class="input-small" ng-model="stone.size" ng-change="UpdateBuffer('size')" ng-options= "size.abbreviation for size in StoneSizes"/> </select>-->
                <!--<select id="selectColor" class="input-small" ng-model="stone.color" ng-change="UpdateBuffer('color')" ng-options= "color.abbreviation for color in StoneColors"/> </select>-->
                <!--<select id="selectType" class="input-small" ng-model="stone.type" ng-change="UpdateBuffer('type')" ng-options= "type.name for type in StoneTypes"/> </select>-->
            <!--</div>-->
            <!--<div class="row-2">-->
                <!--<button id="btnSave" class="btn btn-link">Save</button>-->
                <!--<button id="btnCancel" class="btn btn-link" ng-click="cancelStone()">Cancel</button>-->
            <!--</div>-->
        <!--</div>-->
        <div>
            <button class ="btn btn-link" ng-hide="editDisplay" href="#" name="addStone" ng-click="addStone()">Add additional stone type</button>
        </div>
        <!--<div class="form-row">-->
            <!--<div class="form-group">-->
                <!--<label for="selectGender">Count</label>-->
                <!--<select id="selectGender" class="input-small" ng-model="select.gender" ng-change="UpdateBuffer('gender')" ng-options= "gender.abbreviation for gender in Genders"/> </select>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="selectCategory">Size</label>-->
                <!--<select id="selectCategory" class="input-medium" ng-model="select.productCategory" ng-change="UpdateBuffer('productCategory')" ng-options= "pcategory.id as pcategory.name for pcategory in ProductCategories"/> </select>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="selectProduct">Color</label>-->
                <!--<label for="selectProduct">Color</label>-->
                <!--<select id="selectProduct" class="input-medium" ng-model="select.product" ng-change="UpdateBuffer('product')" ng-options= "product.id as product.name for product in Products | filter:{productcategory_id:select.productCategory}"/> </select>-->
            <!--</div>-->
        <!--</div>-->
    </div>
  </div>
</ng-form>