<form class="form-horizontal partial _sellerPhysical" role="form">
<div ng-controller="SellerDialogTabPhysicalCtrl">

    <div class="form-section">Height
        <div class="form-row">
            <div class="form-group">
                <label for="height_feet">Feet</label>
                <select id="height_feet" class="input-small" ng-model="select.height_feet" ng-change="updateBuffer('height_feet')" ng-options= "foot.id for foot in HeightFeetOptions"> </select>
            </div>

            <div class="form-group">
                <label for="height_inches">Inches</label>
                <select id="height_inches" class="input-small" ng-model="select.height_inches" ng-change="updateBuffer('height_inches')" ng-options= "inch.id for inch in HeightInchOptions"> </select>
            </div>
        </div>
    </div>
    <div class="form-section">Traits
        <div class="form-row">
            <div class="form-group">
                <label for="gender_id">Gender</label>
                <select id="gender_id" class="input-small" ng-model="select.gender_id" ng-change="updateBuffer('gender_id')" ng-options= "gender.name for gender in Genders"> </select>
            </div>

            <div class="form-group">
                <label for="eyecolor_id">Eye color</label>
                <select id="eyecolor_id" class="input-small" ng-model="select.eyecolor_id" ng-change="updateBuffer('eyecolor_id')" ng-options= "eyecolor.name for eyecolor in Eyecolors"> </select>
            </div>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div id="personal-ctrl" class="span4">-->
            <!--<div class="control-frame">-->
                <!--<label class="control-frame-label">Height</label>-->
                <!--&lt;!&ndash; Start Height Feet Control &ndash;&gt;-->
                <!--<div id="height-feet-ctrl" class="span1 padded-right-30">-->
                    <!--<div class="control-group" ng-class="{info:errorCodes['height_feet'].error}">-->
                        <!--<label class="control-label">Feet</label>-->
                        <!--<div class="controls">-->
                            <!--<div class="">-->
                                <!--<select id="height_feet" class="input-small" ng-model="select.height_feet" ng-change="updateBuffer('height_feet')" ng-options= "foot.id for foot in HeightFeetOptions"> </select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="height-inches-ctrl" class="span1 padded-right-30">-->
                    <!--<div class="control-group" ng-class="{info:errorCodes['height_inches'].error}">-->
                        <!--<label class="control-label">Inches</label>-->
                        <!--<div class="controls">-->
                            <!--<div class="">-->
                                <!--<select id="height_inches" class="input-small" ng-model="select.height_inches" ng-change="updateBuffer('height_inches')" ng-options= "inch.id for inch in HeightInchOptions"> </select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="gender-ctrl" class="span1 padded-right-30">-->
                    <!--<div class="control-group" ng-class="{info:errorCodes['gender_id'].error}">-->
                        <!--<label class="control-label">Gender</label>-->
                        <!--<div class="controls">-->
                            <!--<div class="">-->
                                <!--<select id="gender_id" class="input-small" ng-model="select.gender_id" ng-change="updateBuffer('gender_id')" ng-options= "gender.abbreviation for gender in Genders"> </select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="eyes-ctrl" class="span1">-->
                    <!--<div class="control-group" ng-class="{info:errorCodes['eyecolor_id'].error}">-->
                        <!--<label class="control-label">Eye Color</label>-->
                        <!--<div class="controls">-->
                            <!--<div class="">-->
                                <!--<select id="eyecolor_id" class="input-small" ng-model="select.eyecolor_id" ng-change="updateBuffer('eyecolor_id')" ng-options= "eyecolor.abbreviation for eyecolor in Eyecolors"> </select>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</form>