<form class="form-horizontal partial _sellerContact" role="form">
<div ng-controller="SellerDialogTabContactCtrl">

    <div class="form-section">Name
        <div class="form-row">
            <div class="form-group">
                <label for="name-first">First</label>
                <input type="text" class="input-small" id="name-first" ng-model="buffer.name_first" ng-change="updateBuffer('name_first')" name="name_first">
            </div>
            <div class="form-group">
                <label for="name-last">Last</label>
                <input type="text" class="input-small" id="name-last" ng-model="buffer.name_last" ng-change="updateBuffer('name_last')" name="name_last">
            </div>

        </div>
    </div>

    <div class="form-section">Address
        <div class="form-row">
            <div class="form-group">
                <label for="address_1">Street</label>
                <input type="text" class="input-small" id="address_1" ng-model="buffer.address_1" ng-change="updateBuffer('address_1')" name="address_1">
            </div>

            <div class="form-group">
                <label for="address_2">Apt/Unit</label>
                <input type="text" class="input-small" id="address_2" ng-model="buffer.address_2" ng-change="updateBuffer('address_2')" name="address_2">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="input-small" id="city" ng-model="buffer.city"  ng-change="updateBuffer('city')" name="city">
            </div>

            <div class="form-group">
                <label for="astate_id">State</label>
                <select id="astate_id" class="input-small" ng-model="select.astate_id"  ng-change="updateBuffer('astate_id')" ng-options= "state.abbreviation for state in States"> </select>
            </div>

            <div class="form-group">
                <label for="zip">Zip code</label>
                <input type="text" class="input-small" id="zip" ng-model="buffer.zip" ng-change="updateBuffer('zip')" name="zip">
            </div>
        </div>
    </div>
  </div>
</form>