<form class="form-horizontal partial _sellerId" role="form">
    <div ng-controller="SellerDialogTabIdCtrl">

          <!--<div class="form-section">State issued ID1-->
            <div class="form-row col-md-12">State issued ID
                <div class="form-group col-md-11">
                    <label for="state" class="col-md-3 control-label pull-right">State</label>
                    <div class="col-md-6">
                        <select id="state" class="form-control" ng-model="select.state_id" ng-change="updateBuffer('state')" ng-options= "state.abbreviation for state in States"> </select>
                    </div>
                    <!--<div class="col-md-4"></div>-->
                        <!--<p ng-show="{ false }" class="help-block">State of issue is required.</p>-->
                </div>

                <div class="form-group col-md-11">
                    <label class="col-md-3 control-label" for="license">Type</label>
                    <div class = "col-md-6">
                        <select id="license" class="form-control" ng-model="select.license_id" ng-change="updateBuffer('license')" ng-options= "license.abbreviation for license in Licenses"> </select>
                    </div>
                    <!--<div class="col-sm-5"></div>-->
                </div>

                <div class="form-group col-md-11">
                    <label class="col-md-3 control-label" for="number">Number</label>
                    <div class = "col-md-6">
                        <input type="text" class="form-control" id="number" ng-model="buffer.number" ng-change="updateBuffer('number')" name="number" placeholder="">
                    </div>
                </div>
                <!--<div class="col-sm-6"></div>-->
            </div>
          <!--</div>-->

          <!-- next row -->
        <div class="form-section">Date of birth
          <div class="form-row col-md-12">
              <div class="form-group col-md-11">
                  <label class="col-md-2 control-label" for="month">Month</label>
                  <div class = "col-md-6">
                    <select id="month" class="form-control" ng-model="select.month" ng-change="updateBuffer('month')" ng-options= "month.id for month in Months"> </select>
                  </div>
              </div>
              <div class="form-group col-md-11">
                  <label class="control-label col-md-2" for="day">Day</label>
                  <div class = "col-md-6">
                    <select id="day" class="form-control" ng-model="select.day" ng-change="updateBuffer('day')" ng-options= "day.id for day in Days"> </select>
                  </div>
              </div>
              <div class="form-group col-md-11">
                  <label class="control-label col-md-2" for="year">Year</label>
                  <div class = "col-md-6">
                    <input type="text" class="form-control" id="year" ng-model="buffer.year" ng-change="updateBuffer('year')" name="year">
                  </div>
              </div>
          </div>
        </div>

            <!--<div id="state-id-ctrl" class="span1 padded-right-30">-->
                <!--<div class="control-group" ng-class="{info:error.state_id}">-->
                    <!--<label class="control-label">State</label>-->

                    <!--<div class="controls">-->
                        <!--<div class="">-->
                            <!--<select id="state" class="input-small" ng-model="select.state_id" ng-change="updateBuffer('state')" ng-options= "state.abbreviation for state in States"> </select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="license-type-ctrl" class="span1 padded-right-30">-->
                <!--<div class="control-group" ng-class="{info:error.license_id}" >-->
                    <!--<label class="control-label">Type</label>-->
                    <!--<div class="controls">-->
                        <!--<div class="">-->
                            <!--<select id="license" class="input-small" ng-model="select.license_id" ng-change="updateBuffer('license')" ng-options= "license.abbreviation for license in Licenses"> </select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="license-number-ctrl" class="span1">-->
                <!--<div class="control-group" ng-class="{info:error.number}">-->
                    <!--<label class="control-label">Number</label>-->
                    <!--<div class="controls">-->
                        <!--<div class="">-->
                            <!--<input type="text" class="input-small" id="number" ng-model="buffer.number" ng-change="updateBuffer('number')" name="number" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div id="dob-ctrl" class="span4">-->
                <!--<div class="control-frame">-->
                    <!--<label class="control-frame-label">Date of Birth</label>-->
                    <!--&lt;!&ndash;#Start the month control&ndash;&gt;-->
                    <!--<div id="month-ctrl" class="span1 margin-left-0 padded-right-30">-->
                        <!--<div class="control-group" ng-class="{info:error.month}">-->
                            <!--<label class="control-label">Month</label>-->
                            <!--<div class="controls">-->
                                <!--<div class="">-->
                                    <!--<select id="month" class="input-small" ng-model="select.month" ng-change="updateBuffer('month')" ng-options= "month.id for month in Months"> </select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--#Start the day control-->
                    <!--<div id="day-ctrl" class="span1 padded-right-30">-->
                        <!--<div class="control-group" ng-class="{info:error.day}">-->
                            <!--<label class="control-label">Day</label>-->
                            <!--<div class="controls">-->
                                <!--<div class="">-->
                                    <!--<select id="day" class="input-small" ng-model="select.day" name="day" ng-change="updateBuffer('day')" ng-options= "day.id for day in Days"> </select>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--#Start the year control-->
                    <!--<div id="year-ctrl" class="span1">-->
                        <!--<div class="control-group" ng-class="{info:error.day}">-->
                            <!--<label class="control-label">Year</label>-->
                            <!--<div class="controls">-->
                                <!--<div class="">-->
                                    <!--<input type="text" class="input-mini" id="year" ng-model="buffer.year" ng-change="updateBuffer('year')" name="year">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


            </div>
        </div>
    </div>
</form>