<h1>Listing stonecolors</h1>

<table class='table'>
  <tr>
    <th>Language</th>
    <th>System</th>
    <th>Sort</th>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stonecolors.each do |stonecolor| %>
  <tr>
    <td><%= stonecolor.language.description %></td>
    <td><%= stonecolor.ratingsystem.abbreviation %></td>
    <td><%= stonecolor.sort %></td>
    <td><%= stonecolor.name %></td>
    <td><%= stonecolor.abbreviation %></td>
    <td><%= stonecolor.description %></td>
    <td><%= link_to 'Show', stonecolor %></td>
    <td><%= link_to 'Edit', edit_stonecolor_path(stonecolor) %></td>
    <td><%= link_to 'Destroy', stonecolor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stonecolor', new_stonecolor_path %>
