<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @stonecolor.language_id %>
</p>

<p>
  <b>System:</b>
  <%= @stonecolor.ratingsystem.abbreviation %>
</p>

<p>
  <b>Sort:</b>
  <%= @stonecolor.sort %>
</p>

<p>
  <b>Name:</b>
  <%= @stonecolor.name %>
</p>

<p>
  <b>Abbreviation:</b>
  <%= @stonecolor.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @stonecolor.description %>
</p>


<%= link_to 'Edit', edit_stonecolor_path(@stonecolor) %> |
<%= link_to 'Back', stonecolors_path %>
