<%= simple_form_for(@buyer) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone_cell %>
      <%= f.association :cellcarrier %>
    </div>
    <div>
      <%= t('buyers.new.replacement_code_sent')%>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>