<h3>Buyers</h3>
<div><%= link_to 'Create buyer', new_buyer_path %></div>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Registered</th>
      <th></th>
      <th>Role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @buyers.each do |buyer| %>
    <tr>
      <td><%= buyer.full_name %></td>
      <td><%= buyer.email %></td>
      <td><%= buyer.created_at.to_date %></td>
      <td><%#= buyer.roles.first.name.titleize unless buyer.roles.first.nil? %></td>
      <td>
        <a data-toggle="modal" href="#role-options-<%= buyer.id %>" class="btn btn-mini" type="button">Change role</a>
        <%#= render buyer %>
      </td>
      <td><%#= link_to("Delete buyer", buyer_path(buyer), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless buyer == current_buyer %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
