/**
 * Created with JetBrains RubyMine.
 * User: swa
 * Date: 10/7/13
 * Time: 9:42 AM
 * To change this template use File | Settings | File Templates.
 */
.wizard-step-title{
font-size: 14px;
margin-top: 2px;
margin-bottom: 10px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: 500;
line-height: 1.1;
display: block;
}

.wizard-navigation{
margin-top: 20px;
margin-bottom: 20px;
}

.btn-wizard{
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

.btn-wizard:hover, .btn-wizard:focus, .btn-wizard:active, .btn-wizard.active {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-wizard.disabled{
  color: #999999;
  cursor: not-allowed;
  pointer-events:auto;
  background-color: #ffffff;
  border-color: #dddddd;
}

.wizard {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
}

.wizard > li {
    display: inline;
}

.wizard > li > a,
.wizard > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.wizard > li:first-child > a,
.wizard > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.wizard > li:last-child > a,
.wizard > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.wizard > li > a:hover,
.wizard > li > span:hover,
.wizard > li > a:focus,
.wizard > li > span:focus {
    background-color: #eeeeee;
}

.wizard > .active > a,
.wizard > .active > span,
.wizard > .active > a:hover,
.wizard > .active > span:hover,
.wizard > .active > a:focus,
.wizard > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    cursor: not-allowed;
    pointer-events:auto;
    background-color: #A0C5E4;
    border-color: #A0C5E4;
}

.wizard > .completed > a,
.wizard > .completed > span,
.wizard > .completed > a:hover,
.wizard > .completed > span:hover,
.wizard > .completed > a:focus,
.wizard > .completed > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: not-allowed;
  pointer-events:auto;
  background-color: #428bca;
  border-color: #428bca;
}

.wizard > .inactive > span,
.wizard > .inactive > a,
.wizard > .inactive > a:hover,
.wizard > .inactive > a:focus {
    color: #999999;
    cursor: not-allowed;
    pointer-events:auto;
    background-color: #ffffff;
    border-color: #dddddd;
}

.wizard-lg > li > a,
.wizard-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.wizard-lg > li:first-child > a,
.wizard-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.wizard-lg > li:last-child > a,
.wizard-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.wizard-sm > li > a,
.wizard-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.wizard-sm > li:first-child > a,
.wizard-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.wizard-sm > li:last-child > a,
.wizard-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

