<p id="notice"><%= notice %></p>

<p>
  <b>Sort:</b>
  <%= @product.sort %>
</p>

<p>
  <b>Language:</b>
  <%= @product.language.description %>
</p>

<p>
  <b>Productcategory:</b>
  <%= @product.productcategory.name %>
</p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'New', new_product_path %> |
<%= link_to 'Back', products_path %>
