<h3>Test page for friendly_id</h3>

<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Slug</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.slug %></td>
      <td><%= link_to 'link', test_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<div><%#= current_user.inspect %></div>



