<h3>User</h3>
<div>
<p>Email: <%= @user.email if @user.email %></p>
<p>First name: <%= @user.first_name %></p>
<p>Last name: <%= @user.last_name %></p>
<p>Slug: <%= display_role(@user) %></p>
</div>
<hr/>
<div><%= link_to 'Index', tests_path() %></div>