<h1>Listing cellcarriers</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Sms</th>
    <th></th>
    <th></th>
  </tr>

<% @cellcarriers.each do |cellcarrier| %>
  <tr>
    <td><%= cellcarrier.name %></td>
    <td><%= cellcarrier.sms %></td>
    <td><%= link_to 'Show', cellcarrier %></td>
    <td><%= link_to 'Destroy', cellcarrier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cellcarrier', new_cellcarrier_path %>
