<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cellcarrier.name %>
</p>

<p>
  <b>Sms:</b>
  <%= @cellcarrier.sms %>
</p>


<%= link_to 'Edit', edit_cellcarrier_path(@cellcarrier) %> |
<%= link_to 'Back', cellcarriers_path %>
