<p id="notice"><%= notice %></p>

<p>
  <b>Abbreviation:</b>
  <%= @gender.abbreviation %>
</p>

<p>
  <b>Name:</b>
  <%= @gender.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gender.description %>
</p>


<%= link_to 'Edit', edit_gender_path(@gender) %> |
<%= link_to 'Back', genders_path %>
