
<% if user_signed_in? %>

    <!--Users menu-->
    <%#= render :partial => 'layouts/menu_partials/users_menu' %>

    <!--Seller menu-->
    <%#= render :partial => 'layouts/menu_partials/seller_menu' %>

    <%# if current_user.has_role ROLE_ACCOUNT %>
    <!--Account menu-->
    <%#= render :partial => 'layouts/menu_partials/account_menu' %>
    <%# end %>

    <% if (current_user.has_role? :buyer) || (current_user.has_role? :leo || (current_user.has_role? :unassigned))%>

    <% else %>
    <!--Admin menu - render controlled from partial-->
        <%= render :partial => 'layouts/menu_partials/administration_menu' %>
    <% end %>

    <%= render :partial => 'layouts/menu_partials/reports_menu' %>
    <!--Authorization menu - render controlled from partial-->
    <%#= render :partial => 'layouts/menu_partials/authorize_menu' %>

    <!--My account link-->
    <%= render :partial => 'layouts/menu_partials/my_account' %>

    <!--Sign out link-->
    <%= render :partial => 'layouts/menu_partials/signout' %>

<% else %>
    <!--Sign in link-->
    <%= render :partial => 'layouts/menu_partials/signin' %>

    <!--Signup link-->
    <%#= render :partial => 'layouts/menu_partials/signup' %>

<% end %>


