<!DOCTYPE html>
<html lang="en" ng-app="Fmbstore">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title><%= content_for?(:title) ? yield(:title) : "FMB" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "FMB" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= yield(:head) %>
  </head>

  <!--<body class="<%= controller_name %> <%= action_name %>">-->
  <body>
    <div id="wrap">

      <div id="nav-bar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">

            <a class="navbar-brand" href="#">FMB</a>
          </div>
           <!--<nav class="navbar-inner">-->
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
              <%= render 'layouts/navigation' %>

            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>


      <div class="container">

              <%= render 'layouts/messages' %>
              <%= yield %>

      </div> <!--! end of .container -->

    </div>
  </body>
</html>
