<%= simple_form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <fieldset id=<%= id_from_I18n t('account.section_legend_account') %> class="well">
      <h4><%= t('account.section_legend_account') %></h4>
    <%= f.input :number, :disabled => false, :label =>t('account.number') %>
    <%= f.input :name, :disabled => false, :label =>t('account.name') %>
    <%= f.input :anniversary, as: :date, as: :string, :disabled => false, :label =>t('account.anniversary') %>
    <%= f.input :code, :disabled => false, :label =>t('account.code') %>
    </fieldset>

    <fieldset id="<%= id_from_I18n t('account.section_legend_contact') %>" class="well">
      <h4><%= t('account.section_legend_contact') %></h4>
        <%= f.input :first_name, :label =>t('account.first_name') %>
        <%= f.input :last_name, :label =>t('account.last_name') %>
        <%= f.input :title, :label =>t('account.contact_title') %>
        <%= f.input :email, :label =>t('account.email') %>
        <%= f.input :phone_office, :label =>t('account.phone_office') %>
        <%= f.input :phone_office_ext, :label =>t('account.phone_office_ext') %>
        <%= f.input :phone_cell, :label =>t('account.phone_cell') %>
    </fieldset>
    <fieldset id=<%= id_from_I18n t('account.section_legend_address') %> class="well">
      <h4><%= t('account.section_legend_address') %></h4>
        <%= f.input :address_1, :label =>t('account.address_1') %>
        <%= f.input :address_2, :label =>t('account.address_2') %>
        <%= f.input :city, :label =>t('account.city') %>
        <%= f.input :state_id, :collection => State.all, value_method: :id, :label =>t('account.state')  %>
        <%#= f.association :state, :label =>t('account.state')  %>
        <%= f.input :zipcode, :label =>t('account.zipcode') %>
    </fieldset>

  </div>

  <div class="form-actions">
    <%= f.button :submit, t('form.submit') %>
  </div>
<% end %>
