<h3><%= t('account.title_edit')%></h3>

<%= render 'form' %>

<%= link_to (t 'form.show'), @account, {:class => 'btn btn-small'} %>
<%= link_to (t 'form.index'), accounts_path, {:class => 'btn btn-small'} %>
