<h3><%= t('account.title_index')%></h3>

<table class="table table-striped">
  <tr>
    <th><%= t('account.number')%></th>
    <th><%= t('account.name') %></th>
    <th><%= t('account.contact_name') %></th>
    <th><%= t('account.contact_title') %></th>
    <th><%= t('account.phone_office') %></th>
    <th><%= t('account.key') %></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.number %></td>
    <td><%= account.name %></td>
    <td><%= account.contact_full_name %></td>
    <td><%= account.contact_title %></td>
    <td><%= account.phone_office_formatted %></td>
    <td><%= account.key %></td>
    <td><%= link_show_account(account) %></td>

    <!--<td><%#= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
  </tr>
<% end %>
</table>

<br />

<div><%= link_new_account %></div>
