<p id="notice"><%#= notice %></p>

<div>
  <h3><%= t('account.title_show')%></h3>

  <table <%= t('account.title_show')%> class="table table-bordered span5">
    <tr><td><%= t('account.account_number')%></td><td class="span3"><%= @account.number %></td></tr>
    <tr><td><%= t('account.name')%></td><td class="span3"><%= @account.name %></td></tr>
    <tr><td><%= t('account.code')%></td><td class="span3"><%= @account.code %></td></tr>
    <tr><td><%= @store_count.to_s + ' ' + t('account.location_count') %></td><td class="span3"><%= link_store_count(@account, @store_count)  %></td></tr>
    <tr><td><%= @user_count.to_s + ' ' + t('user.user_count') %></td><td class="span3"><%= link_user_count(@account, @user_count)  %></td></tr>
    <!--link_to 'Stores', account_stores_path(@account, key: @account.key)-->
    <tr><td><%= t('account.accounting_contact')%></td><td class="span3"><%= @account.contact_full_name %></td></tr>
    <tr><td><%= t('account.contact_title')%></td><td class="span3"><%= @account.contact_title %></td></tr>
    <tr><td><%= t('account.email')%></td><td class="span3"><%= @account.email %></td></tr>
    <tr><td><%= t('account.phone_office')%></td><td class="span3"><%= @account.phone_office_formatted%></td></tr>
    <tr><td><%= t('account.phone_cell')%></td><td class="span3"><%= @account.phone_cell_formatted %></td></tr>
    <tr><td><%= t('account.address')%></td><td class="span3"><%= @account.account_address %></td></tr>

  </table>

  <div class="form-actions span5">
    <%= link_edit_account(@account) %>
    <%= link_accounts %>
  </div>


  <%= user_details(current_user) %>

</div>

